fastapi
uvicorn
pydantic
PyPDF2
langchain
langchain-community
langchain-core
langchain-huggingface
langsmith
langchain_google_genai
google-generativeai
python-dotenv
faiss-cpu
sentence-transformers
torch
langchain-huggingface
